<table style="font-size:9pt; font-family:Arial, sans-serif; line-height:17px; width:480px' " width="480" cellpadding="0" cellspacing="0" border="0" class="ng-scope">
    <tbody>
        <tr>
            <td style="background-color: #5c5c5c;padding:10px;width:240px;vertical-align:top;font-family:Arial, sans-serif;color:#ffffff;" valign="top">
                <strong><span style="font-size:11pt; font-family:Comic Sans MS, cursive, sans-serif; color:#ffffff;" class="ng-binding">MD ANIK AHMED</span></strong><br>
                <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-size:9pt; font-family:Comic Sans MS, cursive, sans-serif; color:#ffffff;" class="ng-binding ng-scope">web design &amp; development</span><!-- end ngIf: showField('title') -->
            </td>
            <td align="right" style="font-size:9pt;font-family:Arial, sans-serif;width:240px;background-color: #285452;padding:10px;font-size:15px;font-weight:bold;color:#ffffff;vertical-align:middle;" valign="middle">
                <!-- ngIf: showField('company') --><span ng-if="showField('company')" style="font-family:Comic Sans MS, cursive, sans-serif; color:#ffffff; font-size:9pt;" class="ng-binding ng-scope">ICT Center</span><!-- end ngIf: showField('company') -->
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:480px;padding:10px;background-color: #037f9b;vertical-align:top;font-family:Arial, sans-serif;color:#444444;" valign="top">
                <!-- ngIf: showField('address1') --><span ng-if="showField('address1')" style="font-size:9pt;font-family:Comic Sans MS, cursive, sans-serif;color: #ffffff;" class="ng-binding ng-scope">Singra, Natore<br></span><!-- end ngIf: showField('address1') -->
                <!-- ngIf: showField('address2') -->
                <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="font-size:9pt;font-family:Comic Sans MS, cursive, sans-serif;color: #fffcfc;" class="ng-binding ng-scope">mail: skanikparvez503@gmail.com<br></span>
                <!-- end ngIf: showField('email') -->
                <!-- ngIf: isAnyFieldEntered('mobile, phone') --><span ng-if="isAnyFieldEntered('mobile, phone')" class="ng-scope">
                    <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="font-size:9pt;font-family:Comic Sans MS, cursive, sans-serif;color: #ffffff;" class="ng-binding ng-scope">mobile: 01701931217</span><!-- end ngIf: showField('mobile') -->
                    <!-- ngIf: showField('phone') --><br></span><!-- end ngIf: isAnyFieldEntered('mobile, phone') -->
                <!-- ngIf: showField('website') --><a ng-if="showField('website')" href="http://www.anik217.tk" target="_blank" rel="noopener" style="text-decoration:none;" class="ng-scope"><span style="font-size:9pt; font-family:Arial, sans-serif; color:#008cba;"><span style="font-family:Comic Sans MS, cursive, sans-serif;color: #ffffff;" class="ng-binding">www.anik217.tk</span></span></a><!-- end ngIf: showField('website') -->
            </td>
        </tr>
        <!-- ngIf: showField('banner') -->
        <tr>
            <td colspan="2" height="5" style="width:480px; line-height:5px; vertical-align:top" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:480px; padding:0px; text-align:center;" colspan="2" align="center" valign="top">
                <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="35" ng-src="https://raw.githubusercontent.com/anik217/icone/main/fb2.png" alt="facebook icon" style="border:0; height:35px; width:35px;" src="https://raw.githubusercontent.com/anik217/icone/main/fb2.png"></a>&nbsp;&nbsp;</span>

                            <span ng-if="showField('facebookURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="35" ng-src="https://raw.githubusercontent.com/anik217/icone/main/email.png" alt="facebook icon" style="border:0; height:35px; width:35px;" src="https://raw.githubusercontent.com/anik217/icone/main/email.png"></a>&nbsp;&nbsp;</span>

                <!-- end ngIf: showField('facebookURL') -->
                <!-- ngIf: showField('youtubeURL') --><span ng-if="showField('youtubeURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="35" ng-src="https://raw.githubusercontent.com/anik217/icone/main/call3.png" alt="youtube icon" style="border:0; height:35px; width:35px;" src="https://raw.githubusercontent.com/anik217/icone/main/call3.png"></a>&nbsp;&nbsp;</span>
                <!-- end ngIf: showField('youtubeURL') -->
                <!-- ngIf: showField('linkedinURL') -->
                <!-- ngIf: showField('twitterURL') -->
                <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope"><a href="" target="_blank" rel="noopener"><img border="0" width="35" ng-src="https://raw.githubusercontent.com/anik217/icone/main/instragram.png" alt="instagram icon" style="border:0; height:35px; width:35px;" src="https://raw.githubusercontent.com/anik217/icone/main/instragram.png"></a>&nbsp;&nbsp;</span>
                <!-- end ngIf: showField('instagramURL') -->
                <!-- ngIf: showField('pinterestURL') -->
            </td>
        </tr>
        <!-- ngIf: showField('disclaimer') -->
        <!-- ngIf: showField('disclaimer') -->
    </tbody>
</table>